<!-- Products Offered for Toyota 4Runner 4th Gen.  -->
<!-- 4Runner Product Cards -->
<div class="container">
	<div class="card-columns container">
	  <div class="card">
	    <img class="card-img-top" src="styles/colorado_pics/lilB_colorado_hybrid_rear.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,999.00</h5>
	      <p class="card-text">ZR2 Hybrid Rear Bumper by Lil B's</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/colorado_pics/lilB_colorado_hybrid_front.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,499.00</h5>
	      <p class="card-text">ZR2 Hybrid Front Bumper by Lil B's</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	</div>
</div>

<!-- Footer Section -->

<footer class="footer text-center col-lg-12">
    <h4 class="trademark">&copy;2018 by Sherpa Offroad LLC</h4>
</footer>