<!-- Products Offered for Toyota 4Runner 4th Gen.  -->
<!-- 4Runner Product Cards -->
<div class="container">
	<div class="card-columns container">
	  <div class="card">
	    <img class="card-img-top" src="styles/tough_dog_suspension.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,395.00</h5>
	      <p class="card-text">GX470 Lift Kit - Big Bore w/ 9-Way Adjustable Valving</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/gx470_pics/lilB_gx470_sliders_weld.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$799.00</h5>
	      <p class="card-text">GX470 Sliders - Weld On - by Lil B's</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/gx470_pics/gx470_tube_front.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,399</h5>
	      <p class="card-text">GX470 Hybrid Front Tube Bumper by Lil B's</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/gx470_pics/gx470_tube_rear_no_swing_2.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,499.00</h5>
	      <p class="card-text">GX470 Rear Bumper (No Swing Arm)</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/gx470_pics/gx470_tube_rear_swing.jpeg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,999.00</h5>
	      <p class="card-text">GX470 Rear Bumper with Swingout</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/gx470_pics/lilB_gx470_sliders_bolt.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$799.00</h5>
	      <p class="card-text">Lil B's GX470 KDSS Bolt-On Sliders by Lil B's</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <!-- Leaving this card out until we actually have a prototype and pictures up. -->
	  <!-- <div class="card">
	    <img class="card-img-top" src="styles/lilB_4thgen_tube_rear.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,300.00</h5>
	      <p class="card-text">GX470 Hybrid Rear Tube Bumper</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div> -->
	</div>
</div>

<!-- Footer Section -->

<footer class="footer text-center col-lg-12">
    <h4 class="trademark">&copy;2018 by Sherpa Offroad LLC</h4>
</footer>