<!-- Hero Content  -->

<!-- <section class="hero row"></section> -->
<!-- 	<div class= "col-md-12" id="hero-headline-block">
		<p id="hero-headline">Let us be your guide to all things offroad</p>
	</div> -->
<img src="/styles/sherpa_hero_img.png" class="img-fluid" alt="Responsive image">	

<!-- About Us Title -->

<div id="about-us" class="transition-banner">
	<div class="banner text-center">ABOUT US</div>
</div>

<!-- About Us -->

<div class="container-fluid">
	<div class="row about">
		<div class="col-md-6 text-center">
			<img class="picture border text-center img-fluid" src="/styles/sherpa_offroad_about_logo.png">
		</div>
		<div class="col-md-6 text-center">
			<div class="about-text">At Sherpa Offroad, our mission is to elevate your build.
			After a decade of building over a dozen Toyota and Lexus vehicles to get us to undiscovered places, we decided to produce our own armor and bring you the products we love. We are proud to carry Lil B's Custom Fabrication armor and accessories. Every piece is designed in house and undergoes rigorous testing.  We are also excited to introduce Tough Dog Suspension for the 120 Platform straight from Australia; outback tested.​
			</div>
			<div class="about-text">-Austin Lunn-Rhue & Nick Ursetta</div>
		</div>
	</div>
</div>

<!-- Contact Us Title -->
<div id="about-us" class="transition-banner">
	<div class="banner text-center">CONTACT US</div>
</div>

<!-- Contact Us -->
<div class="container-fluid">
	<div class="row contact">
		<div class="col-md-6 text-center">
			<!-- <div class="about-text">CONTACT</div> -->
			<div class="about-text">EMAIL: Alunnrhue@gmail.com<br>PHONE: 1-720-365-2487<br>LOCATED: Denver, CO
			</div>
			<div class="contact-info-text">Have a question? Or need to get ahold of someone at Sherpa Offroad? Send us a message, and we'll get back to you right away!
			</div>
		</div>

		<div class="emailForm col-md-6 text-center">
			<form ng-submit="sendEmail()" ng-controller="HomeCtrl">
				<div class="row">
					<div class="form-group col-md-6">
						<!-- <label for="inputEmail4">Name</label> -->
						<input type="name" class="form-control" id="inputEmail4" placeholder="Name">
					</div>
					<div class="form-group col-md-6">
						<!-- <label for="inputPassword4">Email</label> -->
						<input type="email" class="form-control" id="inputPassword4" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<!-- <label for="inputAddress">Subject</label> -->
					<input type="text" class="form-control" id="inputAddress" placeholder="Subject">
				</div>
				<div class="form-group">
					<!-- <label for="exampleFormControlTextarea1">Message</label> -->
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Message"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">SEND</button>
			</form>
		</div>
	</div>
</div>

<!-- Footer Section -->

<footer class="footer text-center col-lg-12">
    <h4 class="trademark">&copy;2018 by Sherpa Offroad LLC</h4>
</footer>


<!-- Below is a simple log in portal. There is no log out functionality built yet. -->

<!-- <div class="home-text row">
	<div class="col-md-12 text-center">
		<h3 class="log-in-text">Log In!</h3>
		<form class="login" ng-submit="login()" ng-controller="LogInCtrl">
		    <input class="log-in-input" type="text" ng-model="newBorrower.username" placeholder="Username" /><br><br>
		    <input class="log-in-input" type="password" ng-model="newBorrower.password" placeholder="Password" /><br><br>
		    <input class="log-in-input" type="submit" id="submit" value="Log In!" />
		</form>
	</div>
</div> -->


