
<div class="container">
	<div class="product-detail row">	
		<img class="product-image lg-col-6" src={{product.product_info.image_url}}>
		
		<div class="product-body lg-col-6">
			<h2 class="product-name">{{product.product_info.name}}</h2>
			<h4 class="product-price">{{product.product_info.price | currency}}</h4>
			<br>
			Swingarm Position
			<select class="form-control">
  				<option>Driver Side</option>
  				<option>Center</option>
  				<option>Passenger Side</option>
			</select>
			<br>
			Hitch
			<select class="form-control">
  				<option>YES</option>
  				<option>NO</option>
			</select>
			<br>
			Quantity
			<input class="form-control quantity">
			<br>
			<button class="btn btn-outline-secondary container-fluid">ADD TO CART</button>
		</div>

		<table class="table col-6">
		  <tbody>
		    <tr class="tr">
		      <td>Welcome to the Ultimate in Offroad Protection. Introducing the Cicerone for the Lexus GX470}</td>
		    </tr>
		    <tr class="tr">
		      <td>This high clearance rear bumper offers the ultimate in protection. Made from 1.75x.120 DOM tubing with 1/2" steel plate mounting and 1.75" 4140 Chromoly steel spindle hinge; have confidence that this bumper has you protected from drops off ledges, sliding around trees and dragging across boulders.</td>
		    </tr>
		    <tr class="tr">
		      <td>As the GX community has grown and boundaries are being pushed, we've seen a need for stronger and lighter rear bumpers. Weighing in at a paltry 140lbs this bumper is close to 35% lighter than other full replacement bumpers on the market for the GX470. Whether your building a rock crawler for maximum clearance and protection, or needing to keep weight down on your overland build. The Cicerone from Sherpa Offroad has you covered!</td>
		    </tr>
		    <tr class="tr">
		      <td>Please fill out your preference for all add ons in order to see the total price of your bumper. Contact as for any additional customizations!</td>
		    </tr>
		    <tr class="tr">
		      <td>Build times are currently 4-6 weeks.</td>
		    </tr>
		    <tr class="tr">
		      <td>**Please Contact us for shipping quotes before checking out.**</td>
		    </tr>
		  </tbody>
		</table>


	</div>
</div>

<!-- Footer Section -->

<footer class="footer text-center col-12">
    <h4 class="trademark">&copy;2018 by Sherpa Offroad LLC</h4>
</footer>