<div class="login-row row col-lg-12">
	<div class="text-center log-in" >
		<h3 class="log-in-text">Sign Up!</h3>
		<form class="signup" ng-submit="submit()" ng-controller="SignUpCtrl">
			<input type="text" ng-model="newBorrower.username" placeholder="Email" /><br><br>
			<input type="password" ng-model="newBorrower.password" placeholder="Password" /><br><br>
			<input type="password" ng-model="newBorrower.password_confirmation" placeholder="Password Confirmation" /><br><br>
			<input type="submit" id="submit" value="Submit" />
		</form>
	</div>	
</div>