<!-- Products Offered for Toyota 4Runner 4th Gen.  -->
<!-- 4Runner Product Cards -->
<div class="container">
	<div class="card-columns container">
	  <div class="card">
	    <img class="card-img-top" src="styles/tough_dog_suspension.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,395.00</h5>
	      <p class="card-text">2003-2009 4runner Lift Kit - Big Bore w/ 9-Way Adjustable Valving</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/tough_dog_suspension.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,395.00</h5>
	      <p class="card-text">2010+ 4runner Lift Kit - Big Bore w/ 9-Way Adjustable Valving</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/tough_dog_suspension.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,395.00</h5>
	      <p class="card-text">2006-2009 FJ Cruiser Lift Kit - Big Bore w/ 9-Way Adjustable Valving</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/tough_dog_suspension.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,395.00</h5>
	      <p class="card-text">2010+ FJ Cruiser Lift Kit - Big Bore w/ 9-Way Adjustable Valving</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/tough_dog_suspension.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,395.00</h5>
	      <p class="card-text">GX460 Lift Kit - Big Bore w/ 9-Way Adjustable Valving</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/tough_dog_suspension.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$1,395.00</h5>
	      <p class="card-text">GX470 Lift Kit - Big Bore w/ 9-Way Adjustable Valving</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	</div>
</div>

<!-- Footer Section -->

<footer class="footer text-center col-lg-12">
    <h4 class="trademark">&copy;2018 by Sherpa Offroad LLC</h4>
</footer>