]<!-- Treat Oak Offroad Product Cards -->

<div class="container">
	<div class="card-columns container">
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_van_beest.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$20.00</h5>
	      <p class="card-text">Van Beest 3/4" Shackle</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_load_eq.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$85.00</h5>
	      <p class="card-text">TOO Load Equalizing Bridal</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_kinetic.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$130.00</h5>
	      <p class="card-text">TOO Kinetic Recovery Rope</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_static_strap.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$55.00</h5>
	      <p class="card-text">TOO Static Recovery Strap</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_tree_saver.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$50.00</h5>
	      <p class="card-text">TOO Tree Saver</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_winch_line_ext.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$230.00</h5>
	      <p class="card-text">TOO Winch Line Extensions</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_soft_shackle.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$55.00</h5>
	      <p class="card-text">TOO Dillo Hide Soft Shackle</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	  <div class="card">
	    <img class="card-img-top" src="styles/treaty_oak_pics/treaty_oak_winch_line.jpg" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">$355.00</h5>
	      <p class="card-text">Treaty Oak Offroad Winch Line</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-outline-secondary container-fluid">More Details</a>
	    </div>
	  </div>
	</div>
</div>

<!-- Footer Section -->

<footer class="footer text-center col-lg-12">
    <h4 class="trademark">&copy;2018 by Sherpa Offroad LLC</h4>
</footer>